@font-face {
  font-family: 'SuisseIntl';
  src: url('./fonts/SuisseIntl-Regular.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Questrial&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  overflow: hidden;
  min-height: 100vh;
  background: linear-gradient(140deg, rgba(6,2,36,1) 0%, rgba(4,4,54,1) 100%);
}
@media screen and (max-width: 1279px) {
  body{
    overflow: auto;
  }
}

::-webkit-scrollbar {
  display: none;
}

.SuisseIntl {
  font-family: 'SuisseIntl', sans-serif;
}

.Comfortaa {
  font-family: 'Comfortaa', sans-serif;
}

[data-theme="cupcake"] body{
  background: linear-gradient(320deg, rgba(250,230,189,1) 0%, rgba(254,251,247,1) 100%);
}